<%= form_with(model: flow) do |form| %>
  <% if flow.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(flow.errors.count, "error") %> prohibited this flow from being saved:</h2>

      <ul>
        <% flow.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-6">
    <%= form.label :title, style: "display: block", class: "form-label" %>
    <%= form.text_field :title, class: "form-control", required: true %>
  </div>

  <div class="mt-1 col-md-6">
    <%= form.label :description, style: "display: block", class: "form-label" %>
    <%= form.text_area :description, class: "form-control", required: true, rows: 3, style: "resize: none;" %>
  </div>

  <div class="mt-1 col-md-6">
      <%= form.label :file, style: "display:block", class: "form-label" %>
      <%= form.file_field :file, class: "form-control", required: true %>
      <div id="fileHelp" class="form-text">Export your .flow file from Shopify by following <a href="https://help.shopify.com/en/manual/shopify-flow/manage#export-a-workflow"> these steps.</a></div>
  </div>

  <div class="mt-3">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
